* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: arial;
}
/*dekstop version*/
/*navbar*/
nav {
  display: flex;
  background-color: rgb(129,51,255);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.627);
  width: 100%;
  padding: 10px 0;
  justify-content: space-around;
  align-items: center;
}


nav .brand {
  color: rgb(184,123,253);
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.627);;
}


nav .navBar {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}


nav .navBar .foto {
  display: none;
  background-color: rgb(210,210,210);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.627);
}


nav .navBar li h4, hr {
  display: none;
}


.navBar, li, a {
  text-decoration: none;
  font-size: 23px;
  color: rgb(228,204,255);
  padding-top: 5px;
  margin: 0 6px;
}


li a:hover {
  color: rgb(228,204,255);
}


.toggle-menu {
  display: none;
  position: relative;
  margin: -155px;
  padding-top: 5px;
}

  
 .toggle-menu input {
   opacity: 0;
   z-index: 9;
   position: absolute;
   width: 34px;
   height: 22px;
   left: -14px;
   top: 17px;
   cursor: pointer;
 }
  
  
.toggle-menu span .menu{
  margin-left: -20px;
  width: 45px;
  height: 45px;
  transition: 0.5s;
}


.toggle-menu span .x {
  position: absolute;
  top: 14px;
  left: -12px;
  z-index: 3;
  width: 28px;
  height: 30px;
  transition: all 0.5s;
}


.jumbotron {
  display: flex;
  background-color: rgba(0,0,0,0.177);
  width: 100%;
  height: 500px;
  z-index: -4;
  flex-direction: column;
}
.container {
  font-size: 26px;
  z-index: -4;
  justify-content: space-evenly;
  padding: 20px;
}
.container h1 {
  padding: 20px 0;
}
  

/*menu animation*/
/*toggle-menu*/
.toggle-menu span .menu {
  opacity: 1;
  transform: scale(100%);
}

.toggle-menu input:checked ~ span .menu {
  opacity: 0;
  transform: scale(0);
}

.toggle-menu span .x {
  opacity: 0;
  transform: rotate(0deg) scale(0);
}

.toggle-menu input:checked ~ span .x{
  opacity: 1;
  transform: rotate(1080deg) scale(100%);
/*akhir toggle-menu*/
}

/*tablet version*/
@media screen and (max-width: 768px) {
  nav .navBar {
    width: 50%;
  }
}

/*mobile version*/
@media screen and (max-width: 456px) {
/*nav mobile version*/
    nav .navBar {
      position: absolute;
      left: -10px;
      top: 0;
      height: 100vh;
      justify-content: space-evenly;
      flex-direction: column;
      background-color: white;
      align-items: center;
      z-index: -1;
      width: 44%;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.627);
      transform: translateX(-100%);
      transition: all 0.5s;
    }
    
    nav .navBar.slider {
      transform: translateX(0);
    }
    
    nav .brand {
      font-size: 15px;
      margin-left: -75px;
    }
    
    .navBar li, a {
      color: rgba(0,0,0,.802);
      font-size: 15px;
    }
    
    .toggle-menu {
      display: flex;
      z-index: 9;
    }
    
    nav .navBar li h4 {
      display: flex;
    }
    
    nav .navBar .foto{
      display: flex;
    }
    
    hr {
      border-top: 1px solid black;
      display: flex;
      width: 99%;
    }
    
    .jumbotron {
      width: 100%;
      height: 100%;
    }
}